<mat-sidenav-container>
  <mat-sidenav-content>
    <div class="h-screen flex flex-col justify-between px-4 pb-32 pt-12">

      @if(!authService.webAuthnService.isAvailable()) {
        Webauthn not available! Check webauthn.io
      }

      <h1 mat-dialog-title>
        @if (isRegister()) {
          Register
        } @else {
          Login
        }
      </h1>

      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
        @if (isRegister()) {
          <div class="flex">
            <mat-form-field class="w-screen">
              <mat-label>Email</mat-label>
              <input matInput [formControl]="form.controls.username" name="username"/>
              <mat-error *ngIf="form.controls.username.hasError('required')">
                Email is required
              </mat-error>
              <mat-error *ngIf="form.controls.username.hasError('email')">
                Email is invalid
              </mat-error>
            </mat-form-field>
          </div>
        }

        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="form.invalid"
          class="flex self-center w-8/12 !h-14"
        >
          @if (isRegister()) {
            Register
          } @else {
            Login
          }
        </button>
      </form>

      <button type="button" class="self-end" mat-button (click)="onClickToggleSign()">
        Click here to
        @if (isRegister()) {
          login
        } @else {
          register
        }
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
