<mat-toolbar class="flex justify-between items-center">
  <app-toggle-sidebar-button
    (onButtonClick)="layout2Service.toggleSidebar()"
    [isOpen]="layout2Service.sidebarLeftOpen()"
    [icon]="layout2Service.sidebarLeftIcon()"
  />

  @if (authService.isLogged()) {
    <span class="flex flex-1 pt-1">Hello {{authService.email()}}</span>
    <span class="pr-5"></span>
    <button (click)="authService.logout()">Log out</button>
  }
  <app-toggle-sidebar-button
    (onButtonClick)="layout2Service.toggleSidebarRight()"
    [isOpen]="layout2Service.sidebarRightOpen()"
    [icon]="layout2Service.sidebarRightIcon()"
  />
</mat-toolbar>


<div class="h-2">
  @if(loadingService.isLoading()) {
    <mat-progress-bar mode="indeterminate" />
  }
</div>
