  <mat-toolbar
    class="flex fixed justify-between"
    [style.width]="layoutService.width()"
  >
    <div class="flex flex-1 gap-4 items-center flex-grow">
      <app-toggle-sidebar-button
        icon="menu"
        (onButtonClick)="layoutService.toggleSidebar()"
        [isOpen]="layoutService.sidebarOpen()"
      />
      <span>MonxTech</span>
    </div>

    <div class="flex items-center">
      <app-toggle-sidebar-button
        icon="person"
        (onButtonClick)="layoutService.toggleSidebarRight()"
        [isOpen]="layoutService.sidebarRightOpen()"
      />
    </div>


  </mat-toolbar>


  <div class="h-1 fixed top-14 sm:top-16 left-0 right-0 z-20">
    @if(loadingService.isLoading()) {
      <mat-progress-bar mode="indeterminate" class="z-20"/>
    }
  </div>
