<mat-toolbar class="flex justify-between items-center">
  <app-toggle-sidebar-button
    (onButtonClick)="layout2Service.toggleSidebar()"
    [isOpen]="layout2Service.sidebarLeftOpen()"
    [icon]="layout2Service.sidebarLeftIcon()"
  />

  <button (click)="authService.logout()">Logout</button>

  <app-toggle-sidebar-button
    (onButtonClick)="layout2Service.toggleSidebarRight()"
    [isOpen]="layout2Service.sidebarRightOpen()"
    [icon]="layout2Service.sidebarRightIcon()"
  />
</mat-toolbar>


<div class="h-2">
  @if(loadingService.isLoading()) {
    <mat-progress-bar mode="indeterminate" />
  }
</div>
