<mat-drawer-container
  [style.height]="'100dvh'"
  [hasBackdrop]="layoutService.isMobile()"
  (backdropClick)="onBackdropClick()"
>
  <mat-drawer
    [mode]="layoutService.isMobile() ? 'push' : 'side'"
    [opened]="layoutService.sidebarOpen()"
    [class]="layoutService.isMobile() ? '!w-10/12' : '!w-72'"
  >
    <app-sidebar />
  </mat-drawer>

  <mat-drawer
    [mode]="layoutService.isMobile() ? 'push' : 'side'"
    [opened]="layoutService.sidebarRightOpen()"
    [class]="layoutService.isMobile() ? '!w-10/12' : '!w-72'"
    position="end"
  >
    <app-sidebar-right />
  </mat-drawer>


  <mat-drawer-content class="!flex flex-col"
    [class.!overflow-x-hidden]="(layoutService.sidebarOpen() || layoutService.sidebarRightOpen()) && layoutService.isMobile()"
  >
    <app-header/>

    <div class="flex flex-1 py-16 sm:py-20 px-4">
      <router-outlet />
    </div>

    <app-footer />
  </mat-drawer-content>

</mat-drawer-container>
