<mat-drawer-container [hasBackdrop]="dimensionsService.isMobile()">

  <mat-drawer
    [(opened)]="layoutService.sidebarLeftOpen"
    [mode]="layoutService.sidebarMode()"
    position="start"
  >
    <app-sidebar-left />
  </mat-drawer>

  <mat-drawer-content>
    <div class="content">
      <app-header />
      <main>
        <router-outlet />
      </main>
      <app-footer />
    </div>
  </mat-drawer-content>

  <mat-drawer
    [(opened)]="layoutService.sidebarRightOpen"
    [mode]="layoutService.sidebarMode()"
    position="end"
  >
    <app-sidebar-right />
  </mat-drawer>

</mat-drawer-container>
