@use '@angular/material' as mat;
@include mat.core();

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

$my-theme: mat.define-light-theme((
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-typographies($my-theme);
@include mat.all-component-densities($my-theme);
@include mat.all-component-bases($my-theme);

html, body, app-root { height: 100dvh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-root {
  @apply flex flex-grow;
}

@media (prefers-color-scheme: dark) {
  html {
    background: #000;
  }

}
