<div class="flex flex-row justify-between items-center">
  <h2 mat-dialog-title>
    @if (isRegister()) {
      Register
    } @else {
      Login
    }
  </h2>
</div>

<mat-dialog-content class="!pt-0">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-2">
      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input matInput [formControl]="form.controls.username" name="username"/>
        <mat-error *ngIf="form.controls.username.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="form.controls.username.hasError('email')">
          Email is invalid
        </mat-error>
      </mat-form-field>
    </div>

    <mat-dialog-actions class="flex flex-col !items-end !pr-0">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
        class="w-full !h-16"
      >
        @if(isRegister()) {
          Register
        } @else {
          Login
        }
      </button>
      <button type="button" class="top-4 !h-12" mat-button (click)="onClickToggleSign()">
        @if (isRegister()) {
          Do you have an account?
        } @else {
          Don't have an account?
        }
      </button>
    </mat-dialog-actions>

  </form>
</mat-dialog-content>
